body {
    background-color: rgb(154, 218, 203);
    color: rgb(255, 255, 255);
    padding: 1rem;
}

header {
    padding: 16px;
    background-color: rgb(25, 44, 120);
    color: rgb(255, 255, 255);
    inline-size: 50%;
}

ul {
    padding: 16px;
    background-color: rgb(68, 98, 221);
    color: rgb(255, 255, 255);
    inline-size: 50%;
}
.xp {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(25, 44, 120);
    inline-size: 50%;
}

.social {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(25, 44, 120);
    inline-size: 50%;
}

.h2 {
    padding: 16px;
    background-color: rgb(68, 98, 221);
    color: rgb(255, 255, 255);
    inline-size: 50%;
}